body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 35px;
  background-color: #f0f0f0;
  position: fixed;
  height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-content {
  margin-left: 35px;
}

.top-content {
  height: 330px;
  background-color: #454545;
  width: 100%;
  display: grid;
  grid-template-columns: 320px 1fr;
}

.img-styles {
  margin-left: 40px;
  margin-top: 40px;
  height: auto;
}

.song-desc {
  margin-top: 16px;
  height: 82%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.span-margin {
  margin-left: 10px;
}

.table-content {
  padding: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.link-style {
  border: 1px solid;
  padding: 5px;
  text-decoration: none;
}

.footer {
  background-color: rgb(67, 104, 155);
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 10%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer-img {
  margin-left: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-text {
  font-size: 15px;
}

.play-buttons {
  margin-top: 33px;
}

.play-buttons > span {
  margin-left: 150px;
}
